name: Build PKVault Backend

on:
  push:
    branches: ["main", "github-actions"]
    paths: ["PKVault.Backend/**"]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Run Backend Generator
        run: |
          cd PKVault.Backend
          dotnet run -p:Mode=gen-pokeapi

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./PKVault.Backend
          push: true
          platforms: linux/arm64, linux/amd64
          tags: ghcr.io/${{ github.repository_owner }}/pkvault-backend:latest
